[user]
	name = Yosuke Kumakura
	email = kumatch@gmail.com
[color]
    ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
    grep = auto
[alias]
	co = checkout
	st = status
	ci = commit
	bra = branch
    df  = icdiff
    push-up = "!gitbranchname() { git symbolic-ref --short HEAD; }; gitpushupstream() { git push origin `gitbranchname`; }; gitpushupstream"
    cop = "!gitbranchpeco() { git branch | peco; }; git checkout `gitbranchpeco`"
[core]
	pager = less
	excludesfile = ~/dotfiles/.gitignore_commons
	precomposeunicode = true
[pull]
    rebase = true
[push]
	default = upstream
[ghq]
    root = ~/src
